<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login Amministrazione</title>
    <style>
  body{width: 200px;
height: 200px;
background: #95FFEB;
position: absolute;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -100px;}
    </style>
</head>
<body>
 <h1>Login amministrazione </h1>
<form method="POST" action="/entrata">
        <label for="id">email:</label>
        <input type="text" name="id" id="id" required>
        <label for="Adminpassword">password:</label>
        <input type="password" name="Adminpassword" id="Adminpassword" required><br>
        <input type="submit" value="Login">




    </form>

</body>
</html>